@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(90deg, rgb(5, 22, 37) 0%, rgb(54, 68, 81) 70%);
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.bg-prim {
    background-color: rgb(1, 21, 40);
}

.bg-accent {
    background-color: rgb(211, 55, 62);
}
.my-button{
    display: flex;
    padding: 0;
}
.my-button a {
    display: inline-block;
    color: white;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    -o-text-overflow: clip;
    text-overflow: clip;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.content {
    background-color: white;
    display:flex;
    flex-direction:column;
}

.accent {
    color: rgb(211, 55, 62);
    stroke: rgb(211, 55, 62);
}
    .header-content {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
    }

.cover-photo {
    background-image: linear-gradient( 0deg, rgb(5, 22, 37) 0%, rgb(54, 68, 81) 70%);
    border-radius: 50%;
    border: rgba(5,22,37,1) solid 3px;
    box-shadow: black 1px 1px 8px;
    grid-column: 2;
    grid-row: span 3;
    max-height: 400px;
    justify-self: center;
}

.navbar-toggler {
    position: relative;
    top: -52px;
    left: -15px;
}


@media (max-width: 990px) {
    .cover-photo {
        visibility: hidden;
    }

    .header-content{
        grid-template-columns: 1fr;
    }
    }

