@page "/"
<div class="row m-2">
    <div class="col-4">
        <p class="accent">Hi, I'm</p>

        <JMCResume.Shared.Components.Heading Text="Michael Cauley" Superheader="true" />

        <p>Software Engineer</p>
    </div>
    <div class="col-8" style="border:1px solid black">
        This is where my photo will go
    </div>
</div>
<div class="row text-white text-center">
    <div class="col-6 bg-accent" style="height:50px;">
        <p style="margin-top:10px">Download Resume</p>
    </div>
    <div class="col-6 bg-prim" style="height:50px;">
        <p style="margin-top:10px">View Portfolio</p>
    </div>
</div>

<section>
    <div class="row m-2">
        <div class="col-4">
            <JMCResume.Shared.Components.Heading Text="About" />
        </div>
    </div>
    <div class="row m-2">
        <div class="col-12">
            <p>This is where my body text needs to go; what's up with MC?</p>
        </div>
    </div>
</section>
