@page "/resume"

<div class="row m-2">
    <div class="col-4">
        <JMCResume.Shared.Components.Heading Text="Resume" />
    </div>
</div>

<iframe src="/resources/resume.pdf" width="100%" height="800px"></iframe>